<div fxLayout="column" fxLayoutAlign="center center" fxFill *ngIf="loading">
  <mat-progress-spinner
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="value">
  </mat-progress-spinner>
</div>
<div fxFill *ngIf="!loading" class="container" fxFill fxLayout="row" fxLayoutAlign="space-around center" >
  <div>
      <mat-card fxLayout="column" >
        <form [formGroup]="form" fxLayout="column">
          <mat-form-field appearance="fill">
            <mat-label>phone</mat-label>
            <input matInput formControlName="phone">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>password</mat-label>
            <input type="password" matInput formControlName="pass">
          </mat-form-field>
          <button mat-button (click)="setLogin()">התחבר</button>
        </form>
      </mat-card>

  </div>
</div>
