<div class="container">

  <mat-vertical-stepper #stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon></mat-icon>
    </ng-template>

    <ng-template matStepperIcon="done">
      <mat-icon></mat-icon>
    </ng-template>

    <!-- Custom icon with a context variable. -->
    <ng-template matStepperIcon="number" let-index="index">
      <mat-icon></mat-icon>
    </ng-template>

    <mat-step [stepControl]="basicForm">
      <form [formGroup]="basicForm">
        <ng-template matStepLabel>מלא את הפרטים הבסיסיים למשחק</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>כותרת</mat-label>
          <input matInput placeholder="כותרת" formControlName="title" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>בחר תאריך התחלה</mat-label>
          <input matInput [matDatepicker]="start_picker" formControlName="start" />
          <mat-datepicker-toggle matSuffix [for]="start_picker"></mat-datepicker-toggle>
          <mat-datepicker #start_picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>בחר תאריך סיום</mat-label>
          <input matInput [matDatepicker]="end_picker" formControlName="end" />
          <mat-datepicker-toggle matSuffix [for]="end_picker"></mat-datepicker-toggle>
          <mat-datepicker #end_picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>מיקום התחלת המשחק</mat-label>
          <mat-select formControlName="start_location" required>
            <mat-option *ngFor="let place of dogParks" [value]="place.id">{{place.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>מיקום סיום המשחק</mat-label>
          <mat-select formControlName="finish_location" required>
            <mat-option *ngFor="let place of dogParks" [value]="place.id">{{place.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-stroked-button color="primary" matStepperNext >המשך</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="stepsForm" [formGroup]="stepsForm">
      <form [formGroup]="stepsForm">
          <ng-template matStepLabel>בחר צעדים למשחק</ng-template>

          <mat-form-field appearance="fill">
            <mat-label>מיקום הצעד</mat-label>
            <mat-select required formControlName="location">
              <mat-option *ngFor="let place of dogParks" [value]="place.id">{{place.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>קוד סודי</mat-label>
            <input matInput placeholder="קוד סודי" formControlName="secret_key" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>תיאור</mat-label>
            <input matInput placeholder="תיאור" formControlName="description" />
          </mat-form-field>
          <button mat-stroked-button color="primary" (click)="pushNewStep()">הוסף צעד נוסף</button>
      </form>

          <mat-accordion>
            <mat-expansion-panel *ngFor="let step of steps" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'#' + step.step_num + ' - ' + step.name}}
                </mat-panel-title>
                <mat-panel-description>
                  <p>{{step.description}}</p>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>
                מיקום התחלתי לצעד
                {{step.start_location}}<br/>
                מיקום סופי לצעד
                {{step.finish_location}}<br/>
                קוד סודי
                {{step.secret_key}}<br/>

              </p>
              <mat-action-row>
                <button mat-flat-button color="warn" (click)="removeStep(steps.indexOf(step))">X</button>
              </mat-action-row>

            </mat-expansion-panel>
          </mat-accordion>

          <div>
            <button mat-stroked-button matStepperPrevious>חזור</button>
            <button mat-stroked-button color="primary" matStepperNext>המשך</button>
          </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>סיום</ng-template>
      <button mat-stroked-button color="primary" (click)="submitGame()">צור משחק</button>
      <div>
        <button mat-stroked-button matStepperPrevious>חזור</button>
        <button mat-stroked-button color="warn" (click)="stepper.reset()">אפס</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>



</div>
