<div class="container">

  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="basicForm">
      <form [formGroup]="basicForm" fxLayout="column">
        <ng-template matStepLabel>מלא את הפרטים הבסיסיים למשחק</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>כותרת</mat-label>
          <input matInput placeholder="כותרת" formControlName="name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>בחר תאריך התחלה</mat-label>
          <input matInput [matDatepicker]="start_picker" formControlName="start" />
          <mat-datepicker-toggle matSuffix [for]="start_picker"></mat-datepicker-toggle>
          <mat-datepicker #start_picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>בחר תאריך סיום</mat-label>
          <input matInput [matDatepicker]="end_picker" formControlName="end" />
          <mat-datepicker-toggle matSuffix [for]="end_picker"></mat-datepicker-toggle>
          <mat-datepicker #end_picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>מיקום התחלת המשחק</mat-label>
          <mat-select formControlName="start_location" required>
            <mat-option *ngFor="let place of places" [value]="place.id">{{place.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>מיקום סיום המשחק</mat-label>
          <mat-select formControlName="finish_location" required>
            <mat-option *ngFor="let place of places" [value]="place.id">{{place.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>המשך</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="stepsForm">
      <form>
        <ng-template matStepLabel>בחר צעדים למשחק</ng-template>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>מיקום הצעד</mat-label>
            <mat-select required [(ngModel)]="currentLocation" [ngModelOptions]="{name: 'loc_selection'}">
              <mat-option *ngFor="let place of places" [value]="place.id">{{place.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>רמז</mat-label>
            <input matInput placeholder="רמז" [(ngModel)]="currentHint" [ngModelOptions]="{name: 'hint_str'}" />
          </mat-form-field>
        </div>
        <button mat-button (click)="createNewStep()">הוסף צעד נוסף</button>
        <div>

        <div *ngFor="let step of steps">

        <mat-form-field appearance="fill">
          <mat-label>מיקום הצעד</mat-label>
          <input matInput placeholder="מיקום הצעד" [value]="step.finish_location" disabled />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>רמז</mat-label>
          <input matInput placeholder="רמז" [value]="step.secret_key" disabled />
        </mat-form-field>
        <button (click)="removeStep(steps.indexOf(step))" mat-button>X</button>
        </div>

          <button mat-button matStepperPrevious>חזור</button>
          <button mat-button matStepperNext>המשך</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>סיום</ng-template>
      <button mat-button (click)="submitGame()">צור משחק</button>
      <div>
        <button mat-button matStepperPrevious>חזור</button>
        <button mat-button (click)="stepper.reset()">אפס</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>



</div>
