<header id="header" class="fixed-top">
  <div class="container d-flex justify-content-between">

    <div class="logo d-flex">
      <img src="./../../../../assets/img/logo2.png" class="animated jackInTheBox delay-1s slow" alt="">
      <h1 class="text-light animated lightSpeedIn delay-2s"><a routerLink="/home">Doggie Hunt</a></h1>
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="get-started"><a href="#features">Get Started</a></li>
        <li class="nav-item avatar dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <img *ngIf="!currentUser" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0"
                 alt="avatar image">
            <img *ngIf="currentUser" src="https://s3-eu-west-1.amazonaws.com/files.doggiehunts/userImages/{{currentUser.avatar}}" class="rounded-circle z-depth-0"
                 alt="avatar image">
          </a>
          <div *ngIf="!currentUser" class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
               aria-labelledby="navbarDropdownMenuLink-55">
            שלום אורח
            <a class="dropdown-item" (click)="login()" >התחבר</a>
            <a class="dropdown-item" (click)="register()" >הירשם</a>
          </div>
          <div *ngIf="currentUser" class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
               aria-labelledby="navbarDropdownMenuLink-55">
            שלום {{currentUser.name}}
            <a class="dropdown-item" routerLink="/profile" >הפרופיל שלי</a>
            <a class="dropdown-item" href="#">התנתק</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
