.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mat-sidenav-container {
    flex: 1;
    height:calc(100vh - 64px);
    .page-content{
      padding: 15px;
    }
  }
}

@media(min-width:1650px) {
  .main-container.boxed{
    max-width: 1920px;
    margin: 0 auto;
  }
}
/*==============================================================
 For Laptop & above all (1370px)
 ============================================================== */

@media(max-width:1600px) {
  .main-container.boxed{
    max-width: 1300px;
    margin: 0 auto;
  }
}
mat-sidenav {
  width: 240px;
  padding-top: 0;
}
