@font-face {
  font-family: hussar;
  src: url(assets/fonts/hussar/HussarBdObl.otf) format("opentype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
