<div fxFill class="container" fxFill fxLayout="row" fxLayoutAlign="space-around center" >
  <div fxLayout="column">
    <form [formGroup]="form" fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>שם הפארק</mat-label>
        <input matInput placeholder="שם הפארק" formControlName="nameofpark">
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>idplaces</mat-label>
        <input matInput placeholder="idplaces" formControlName="idplaces">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>סוג המיקום</mat-label>
        <mat-select>
          <mat-option formControlName="type_park" value="check1">גינת כלבים</mat-option>
          <mat-option formControlName="type_park" value="check2">פארקים היסטורים</mat-option>
          <mat-option formControlName="type_park" value="check3">בית קפה עם הכלב</mat-option>
          <mat-option formControlName="type_park" value="check4">גנים לאומים</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>שכונה</mat-label>
        <input matInput placeholder="שכונה" formControlName="neighborhood">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>רחוב הפארק</mat-label>
        <input matInput placeholder="רחוב הפארק" formControlName="street">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>מס' בית(יש לשנות)</mat-label>
        <input matInput placeholder="מס' בית(יש לשנות)" formControlName="house_number">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>מפעיל המתקן</mat-label>
        <input matInput placeholder="מפעיל המתקן" formControlName="operator">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>תקינות המקום</mat-label>
        <input matInput placeholder="תקינות המקום" formControlName="condition">
      </mat-form-field>
      <mat-slide-toggle formControlName="handicapped">בעל מוגבלות?</mat-slide-toggle>
      <button mat-button>התחבר</button>
    </form>
  </div>
</div>
