<div fxFill class="container" fxFill fxLayout="row" fxLayoutAlign="space-around center" >
  <div fxLayout="column" fxFill>
    <form [formGroup]="form" fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>שם הפארק</mat-label>
        <input matInput placeholder="שם הפארק" formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>סוג המיקום</mat-label>
        <mat-select formControlName="type_park">
          <mat-option value="check1">גינת כלבים</mat-option>
          <mat-option value="check2">פארקים היסטורים</mat-option>
          <mat-option value="check3">בית קפה עם הכלב</mat-option>
          <mat-option value="check4">גנים לאומים</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>שכונה</mat-label>
        <input matInput placeholder="שכונה" formControlName="neighborhood">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>רחוב הפארק</mat-label>
        <input matInput placeholder="רחוב הפארק" formControlName="street">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>מס' בית(יש לשנות)</mat-label>
        <input matInput placeholder="מס' בית(יש לשנות)" formControlName="house_number">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>מפעיל המתקן</mat-label>
        <input matInput placeholder="מפעיל המתקן" formControlName="operator">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>תקינות המקום</mat-label>
        <mat-select formControlName="condition">
          <mat-option [value]="conditionType.Working_Active">תקין ופעיל</mat-option>
          <mat-option [value]="conditionType.Working_Not_Active">תקין ולא פעיל</mat-option>
          <mat-option [value]="conditionType.Not_Working_Active">לא תקין ופעיל</mat-option>
          <mat-option [value]="conditionType.Not_Working_Not_Active">לא תקין ולא פעיל</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="text-white">
        <mat-label>מותאם לבעלי מוגבלויות?</mat-label>
        <mat-slide-toggle formControlName="handicapped" color="primary"></mat-slide-toggle>
      </div>
      <button class="btn btn-primary" mat-button (click)="addDogPark()">הוסף פארק</button>
    </form>
  </div>
</div>
